@import url("https://fonts.googleapis.com/css?family=Adamina:400");

*{
    box-sizing: border-box;
    margin: 0;
    font-family:fantasy !important;
   
}
.screen{
    width: 100%;
}
.movielist{
    align-items: flex-start;
    background-color: #141418;
    height: 100%;
    padding: 10px;
    display: flex;
    width: 100%;
    background-repeat: repeat;
    overflow:visible;
    overflow-x: hidden;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}
.overview{
    letter-spacing: 1.5px;
    width: 70%;
    margin-left:0%;
    padding: 10px;
    color: white;
    font-family: fantasy;
    font-size: 26px;
    background-color: #141418;
    border-radius:22px;
}
.top-bar{
    align-items: center;
    background-color: rgba(0,0,0,1);
    border-bottom: 2px solid rgba(255, 0,0,1);
    display: flex;
    flex-direction: row;
    height: 30%;
    left: 0vh;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

.cta-1{          
    align-items: center;
    margin-left: 30%;
    margin-right: 20px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 0,0,1);
    border-radius: 8px;
    height: 50px;
    width: 200px;
    margin-top: 0%;
    min-width: 150px;
    border: 2px solid rgb(45, 45, 45);
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}
.series{
    letter-spacing: 5.8px;
    line-height: 30px;
    min-height: 30px;
    white-space: nowrap;
}


.search-container{
    height: 50px;
}

.search-field{
    align-items: flex-start;
    background-color: rgba(0,0,0,1);
    border-radius: 10px;
    display: flex;
    height: 50px;
    margin-bottom: 0px;
    padding: 16.5px 12px;
}

.search{
    color: rgba(255, 0,0,1);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
    min-height: 50px;
    margin-top: 87vh; 
    margin-left: 5%;
    white-space: nowrap;
    border-bottom: 2px solid rgba(255, 0,0,1);
    border-left: 2px solid rgba(255, 0,0,1);
    border-right: 2px solid rgba(255, 0,0,1);
    background-color: #f6f6f6;
    border-top:3px solid black;
    border-radius: 8px;
    padding: 15px;
    width: 500px;
    opacity: 0.5;
}

.title{
    -webkit-text-stroke: 1px rgba(255, 0,0,1);
    color: rgba(255, 0,0,1);
    font-family: "Admina";
    font-size: 44px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-right: 0;
    min-height: 20px;
    min-width: 390px;
    white-space: nowrap;
}
.title1{
    margin-left: 60px;
}
.cta{
    text-align: center;
    align-items: center;
    background-color: rgba(255, 0,0,1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    font-size: 22px;
    height: 50px;
    margin-right: 0px;
    margin-top: 0px;
    min-width: 100px;
    width: 200px;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
                            
}

.movies{
    letter-spacing: 5.8px;
    line-height: 30px;
    min-height: 30px;
}

.movies{
    background-color: rgba(255, 0,0,1);
}

.black{
    top: 200px;
    display: flex;
    background: #000;
}
.poster{
    position: absolute;
    right: 0;
    top: 140px;
    width: 100%;
    height: 800px;
    border-bottom: 3px solid rgba(255, 0,0,1);
    vertical-align: top;
    animation: transitionOp 2s;
}

@keyframes transitionOp{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.tvblock{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    background-color: #141418;
    margin-top: 60%;
    margin-left: 10%;
    padding: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.tvblock1{
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 100%;
    margin-right: 8%;
    background-color: rgb(100, 8, 8);
    padding: 1px;
    border-radius: 15px;
    border: 2px solid rgba(255, 0,0,1);
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}
.poster-img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.rating{
    font-size: 24px;
    position: relative;
    padding: 5px;
    margin-top: 0px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 3px solid rgb(2, 184, 2);
}
.tvblock1:hover{
    background-color: #141418;
}
.active1{
    color: #141418;
    opacity: 1;
    background-color: rgb(0, 223, 248);
}

.active{
    color: #141418;
    opacity: 1;
    background-color: rgb(0, 223, 248);
}


.poster-info{
    color: rgb(255, 0, 0);
    position: absolute;
    right: 0;
    top: 32vh;
    width: 73%;
    height: 100px;
}
.bg-title{
    position: absolute;
    padding: 5px;
    font-size: 27px;
    right: 0;
    margin-top: 10%;
}
.bg-name{
    position: absolute;
    font-size: 35px;
    padding: 5px;
    right: 0;
    margin-top: 15%;
}


.home{
    color: rgba(31, 24, 24, 0.699);
    margin-top: 7vh;
}
.home-page{
    position: absolute;
    color: rgb(255, 0, 0);
    top: 150%;
    left: 40%;
}

.home-page-title{
    position: absolute;
    color: rgb(255, 0, 0);
    top: 155%;
    left: 40%;
}
.bottom{
    padding: 15px;
}

.bottom-bar{ 
    margin-top: 20%;
    background-color:#141418 ;   
    padding: 0;
    height: 100%;
    width: 100%;
}

.right{
    top: 0;
}

  .loading-spinner {
    margin-top: 34%;
    margin-left: 55%;
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #db1010; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear;
  }
  @keyframes spinner {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
.img-style{
    width: 550px;
    height: 89.5vh;
    padding: 0px;
    border-radius: 22px;
}

.close-modal{
    font-family: fantasy;
    font-size: 36px;
    position: fixed;
    background-color : rgba(255, 0,0,1);
    top: 80%;
    margin-left: 80%;
    width: 220px;
    height: 100px;
    border: 3px solid black;
    border-radius: 22px;
}
.modal-div{
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #141418;
    padding: 0px;
    z-index: 1000;
    width: 90%;
    height: 90%;
    border-radius : 22px;
    border: 3px solid rgba(255, 0,0,1);
    align-items : center;
}
.modal-title{
    margin-top: 5%;
    font-size: 30px;
}
@media only screen and (max-width: 600px) {
    .poster{
        width: 100%;
        height: 500px;
    } 

    .cta{
        position: absolute;
        width: 40%;
        margin-left: 55%;
        margin-top: 40%;
    }
    .cta-1{
        position: absolute;
        width: 40%;
        margin-left: 10%;
        margin-top: 40%;
    }
    .title{
        font-size: 39px;
        margin-left: -20px;
    }
    .tvblock{
        width: 100%;
        display: grid;
        grid-row: 1;
        margin-top: 140%;
        text-align: center;
        padding: 15px;
        grid-row-gap: 20px;
    }
    .tvblock1{
        align-items: center;
        display: block;
        width: 83%;
        height: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .search{
        width: 100%;
        margin-top: 140%;
        margin-left: -5vh;
        padding: 15px;
    }
    .bottom-bar{
        margin-top: 60%;
    }
    .home-page-title{
        visibility: hidden;
    }
    .home-page{
        visibility: hidden;
    }
    .modal-div{
        margin-top: 0%;
        margin-left: -5%;
        width: 80%;
        display: grid;
        grid-row: 1;
        height: 70%;
    }
    .img-style{
        width: 100%;
        height: 400px;
    }
    .container-2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .overview{
        visibility: hidden;
        font-size: 24px;
    }
    .close-modal{
        margin-left: 20%;
    }
    .modal-title{
        margin-top: 5%;
        font-size: 30px;
    }
}